@media screen and (min-width:766px) {
    .tap-history {
        text-align: right;
    }
}

@media screen and (max-width:766px) {
    .tap-history {
        text-align: left;
    }

    .search {
        margin-top: 10px;
    }
}