<nav class="navbar-navigation">
    <div class="navbar-logo-container">
        <a href="" class="navbar-logo"><span><i class="fas fa-layer-group"></i> INV</span> Management</a>
    </div>
    <div class="navbar-toggle-sidebar">
        <a href="javascript:void(0)" class="toggle-sidebar" (click)="animateToggleSidebar()"><i class="fas fa-bars"></i></a>
    </div>
    <div class="navbar-toggle-sidebar-small">
        <a href="javascript:void(0)" class="toggle-sidebar-small"><i class="fas fa-bars"></i></a>
    </div>
</nav>

<div class="navbar-navigation-small">
    





    <!-- home -->
    <a routerLink="home" class="navbar-menu-item">
        <span class="navbar-menu-item-icon"><i class="fas fa-home"></i></span>
        <span class="navbar-menu-item-text">ໜ້າຫຼັກ</span>
    </a>
    <!-- end of home -->






    <!-- system access -->
    <a href="javascript:void(0)" class="navbar-menu-item dropdown" data-toggle="collapse" data-target="#navbar-dropdown-system-access">
        <div class="left">
            <span class="navbar-menu-item-icon"><i class="fas fa-user"></i></span>
        <span class="navbar-menu-item-text">ການເຂົ້າເຖິງລະບົບ</span>
        </div>
        <div class="right">
            <span class="navbar-menu-item-arrow"><i class="fas fa-angle-left"></i></span>
        </div>
    </a>
    <div class="collapse" id="navbar-dropdown-system-access">
        <a routerLink="staff" class="navbar-menu-item-dropdown">
            <span class="navbar-menu-item-icon"><i class="fas fa-angle-right"></i></span>
            <span class="navbar-menu-item-text">ຂໍ້ມູນພະນັກງານ</span>
        </a>
        <a routerLink="account" class="navbar-menu-item-dropdown">
            <span class="navbar-menu-item-icon"><i class="fas fa-angle-right"></i></span>
            <span class="navbar-menu-item-text">ຂໍ້ມູນຜູ້ໃຊ້ງານ</span>
        </a>
    </div>
    <!-- end of system access -->





    <!-- product information -->
    <a href="javascript:void(0)" class="navbar-menu-item dropdown" data-toggle="collapse" data-target="#navbar-dropdown-product-information">
        <div class="left">
            <span class="navbar-menu-item-icon"><i class="fas fa-database"></i></span>
        <span class="navbar-menu-item-text">ກ່ຽວກັບສິນຄ້າ</span>
        </div>
        <div class="right">
            <span class="navbar-menu-item-arrow"><i class="fas fa-angle-left"></i></span>
        </div>
    </a>
    <div class="collapse" id="navbar-dropdown-product-information">
        <a routerLink="product-category" class="navbar-menu-item-dropdown">
            <span class="navbar-menu-item-icon"><i class="fas fa-angle-right"></i></span>
            <span class="navbar-menu-item-text">ຂໍ້ມູນປະເພດສິນຄ້າ</span>
        </a>
        <a routerLink="product-unit" class="navbar-menu-item-dropdown">
            <span class="navbar-menu-item-icon"><i class="fas fa-angle-right"></i></span>
            <span class="navbar-menu-item-text">ຂໍ້ມູນຫົວໜ່ວຍສິນຄ້າ</span>
        </a>
        <a routerLink="products" class="navbar-menu-item-dropdown">
            <span class="navbar-menu-item-icon"><i class="fas fa-angle-right"></i></span>
            <span class="navbar-menu-item-text">ຂໍ້ມູນສິນຄ້າ</span>
        </a>
    </div>
    <!-- end of product information -->






    <!-- zone information  -->
    <a href="javascript:void(0)" class="navbar-menu-item dropdown" data-toggle="collapse" data-target="#navbar-dropdown-zone-information">
        <div class="left">
            <span class="navbar-menu-item-icon"><i class="fas fa-box"></i></span>
        <span class="navbar-menu-item-text">ການຈັດວາງ</span>
        </div>
        <div class="right">
            <span class="navbar-menu-item-arrow"><i class="fas fa-angle-left"></i></span>
        </div>
    </a>
    <div class="collapse" id="navbar-dropdown-zone-information">
        <a routerLink="zone" class="navbar-menu-item-dropdown">
            <span class="navbar-menu-item-icon"><i class="fas fa-angle-right"></i></span>
            <span class="navbar-menu-item-text">ຂໍ້ມູນໂຊນການໃວ້ເຄື່ອງ</span>
        </a>
    </div>
    <!-- end of zone information -->




    <!-- branch -->
    <a routerLink="branch" class="navbar-menu-item">
        <span class="navbar-menu-item-icon"><i class="fas fa-truck"></i></span>
        <span class="navbar-menu-item-text">ຂໍ້ມູນຜູ້ສະໜອງ</span>
    </a>
    <!-- end of branch -->





    <!-- inventory information  -->
    <a href="javascript:void(0)" class="navbar-menu-item dropdown" data-toggle="collapse" data-target="#navbar-dropdown-inventory-information">
        <div class="left">
            <span class="navbar-menu-item-icon"><i class="fas fa-truck-loading"></i></span>
        <span class="navbar-menu-item-text">ຄັງສິນຄ້າ</span>
        </div>
        <div class="right">
            <span class="navbar-menu-item-arrow"><i class="fas fa-angle-left"></i></span>
        </div>
    </a>
    <div class="collapse" id="navbar-dropdown-inventory-information">
        <a routerLink="inventory" class="navbar-menu-item-dropdown">
            <span class="navbar-menu-item-icon"><i class="fas fa-angle-right"></i></span>
            <span class="navbar-menu-item-text">ຂໍ້ມູນຄັງສິນຄ້າ</span>
        </a>
    </div>
    <!-- end of inventory information -->





</div>