.app-main {
    position: relative;
    top: 60px;
    display: flex;
}

.app-main-right {
    width: 100%;
    position: relative;
    margin-left: 250px;
    z-index: 1;
    transition: .3s;
    overflow: hidden;
}

.app-main-right.full {
    margin-left: 0px;
}

@media screen and (max-width:778px) {
    .app-main-right {
        margin-left: 0px;
    }
}